/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');*/

body{
    background-color: #DDDDDD;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /*font-family;*/
}

.container-fluid{ /*отступы настроил*/
    background-color: #5AC5F3;
    padding: 0px;
    margin: 0px;
}

/*Фон шапки*/
.navbar{
    background-color: #ACDCF0;
    padding: 35px;
    position: fixed;
    width: 76.35%;
    z-index: 999;
}

.nav-link{
    padding: 20px;
    margin-left: auto;
    margin-right: auto
}

.content-wrapper{
    padding: 25px 0px 0px 200px;
}

/*Закругления иконок для поиска и авторизации*/
.br0 {
    border-radius: 30px !important;
    position: relative;
    left: 200%;
}

/*Цвет поля поиска*/
.form-control{
    background-color: #D9DBE1;
}

/*Цвет кнопки авторизации*/
.btn{
    background-color: #D9DBE1;
}
  
.right-panel{
    border-radius: 20px !important;

}

.left-panel{
    display: inline-table;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding: 22px;
    height: 100%;
}

.left-panel-text{
    color: rgb(0, 0, 0);
}

.main-info{
    border-radius: 20px !important;
}

.main-img{
    width: 500px;
    height: 300px;
    border-radius: 20px 20px 0px 0px !important;
}

.main-text{
    color: white;
}

.text-zag{

}

.othernews{
    border-radius: 20px 0px 0px 20px !important;
}

.otherimg{
    border-radius: 0px 20px 20px 0px !important;
}

.row-fluid{
    background-color: #C4C4C4;
}

.foot{
    display: inline-table;
    text-align: left;
}

.foot-text{
    color: rgb(0, 0, 0);
}

.foot-end{
    text-align: center;
}