p1{
    border-color: #2565db; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    padding: 1px;
}

p2{
    border-color: #e70f57 #1a57ca; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    padding: 1px;
}

p3{
    border-color: #e01944 #19ee3d #0a54df; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    padding: 1px;
}

p4{
    border-color: #df0a0a #14d144 #0a54df #e91ade; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    padding: 1px;
}