blockquote{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

p::before{
    content: "<<";
}

p::after{
    content: ">>";
}

p::before, p::after{
    color: #d65e26;
    font-size: 40;
}